@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: 'Poppins', sans-serif;
  background-color: #f0ecec; /* Light melon interior color */
}

h1 {
  margin-left: 120px;
  margin-right: 120px;
  color: #202123;
  font-weight: bold;

  text-align: left;

}
h2{
  margin-left: 120px;
  margin-right: 120px;

}
p{
  margin-left: 120px;
  margin-right: 120px;
  color: #202123;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  
}


form {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  background-color: #ea355c; /* Red watermelon color */
  padding: 20px;
  border-radius: 15px;

}

input[type="text"] {
  
  padding: 12px 16px;
  border: 2px solid #32b44a; /* Green watermelon color */
  border-radius: 7px;
  margin-bottom: 24px;
  
 
}

input[type="text"] ::placeholder {
  color: #353740;
  opacity: 20;
}

input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #32b44a; /* Green watermelon color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: #39d255; /* Light green watermelon color */
}

.result {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  color: #000000;
  background-color: #f0ecec; /* Light melon interior color */
  padding: 10px;
  margin-left : 20px;
  border-radius: 7px;
  margin-bottom: 24px;
  width: auto;
  margin-right: 20px;
}

button {
  padding: 12px 0;
  color: #fff;
  background-color: #32b44a; /* Green watermelon color */
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 200px; 
  margin: 20px auto; /* Centers the button */
}

.openspotify-image {
  cursor: pointer;
  width: 30px;
}


.menu ul{
  padding-inline-start: 40px;

  display : inline-flex;
  margin: 50px;
  /* make the links not look like links */
  text-decoration : none;
  /* remove the default underline */
  color : #000000;
  /* remove the default blue color */
  font-weight : bold;
  /* add a little padding to the links */




 
}
.menu ul li{
  text-decoration : none;
  list-style : none;
  margin : 0 20px;
  color : #000000;
  font-weight : bold;
  cursor : pointer;
  font-weight : bold;

}
.icon{
  width : 200px;
  margin-top: -40px;
  margin-right : 48px;
}
.active{
  color : #ea355c; /* Red watermelon color */
}

/* This is for the basic chat access on the homepage */
.basic{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: -10px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ea355c; /* Red watermelon color */

  font-weight: bold;
  font-size: 20px;
}

.suggestions ul{
  padding : 20px;
  color: #39d255;
  background-color: #000000; 
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  border-color: #39d255;
  border-style: solid;
  border-width: 3px;
}
.playlists{
  list-style: none;
  margin-top: -10px;
  margin-bottom: 50px;

  padding: 20px;
  border-radius: 15px;
  background-color: #ea355c; /* Red watermelon color */
  font-weight: bold;
  font-size: 20px;
}
.individual-playlist{
  /* make it clickable */
  cursor: pointer;

  background-color: #000000; 
  margin-top: -10px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  border-color: #39d255;
  border-style: solid;
  border-width: 3px;
}
.individual-playlist:hover{
  background-color: #4f504f; /* Light green watermelon color */
  color: #000000;
}

a{
  color: #39d255;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.spotify-link{
  float: right;
  margin-right: 22px;
  margin-top: 22px;
  

}

ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

/* .suggestions li {
  display:inline-flex;
} */
/* .squaredOne */
.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  /* margin: 20px auto; */
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  display: inline-flex;
}
.squaredOne label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.Github{
  width: 36px;
  margin-top: -11px;

  cursor: pointer;
}



/* loading screen  */
.loading{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.loading-text{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
}

.loading-image{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.type{
  padding : 20px;
  color: #39d255;
  background-color: #000000; 
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  border-color: #39d255;
  border-style: solid;
  border-width: 3px;
}

.LogSpot{
  width: 211px;
  margin-top: -33px;
  cursor: pointer;
}