@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: 'Poppins', sans-serif;
  background-color: #f0ecec; /* Light melon interior color */
}

h1 {
  color: #202123;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #ea355c; /* Red watermelon color */
  padding: 20px;
  border-radius: 15px;
}

input[type="text"] {
  padding: 12px 16px;
  border: 2px solid #32b44a; /* Green watermelon color */
  border-radius: 7px;
  margin-bottom: 24px;
 
}

::placeholder {
  color: #353740;
  opacity: 50;
}

input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #32b44a; /* Green watermelon color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.result {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  color: #000000;
  background-color: #f0ecec; /* Light melon interior color */
  padding: 10px;
  margin-left : 20px;
  border-radius: 7px;
  margin-bottom: 24px;
  width: auto;
  margin-right: 20px;
}

button {
  padding: 12px 0;
  color: #fff;
  background-color: #32b44a; /* Green watermelon color */
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 200px; 
  margin: 20px auto; /* Centers the button */
}

.openspotify-image {
  width: 20px;
}


.menu ul{

  display : inline-flex;
  margin: 50px;
  /* make the links not look like links */
  text-decoration : none;
  /* remove the default underline */
  color : #fff;
  /* remove the default blue color */
  font-weight : bold;
  /* add a little padding to the links */




 
}
.menu ul li{
  text-decoration : none;
  list-style : none;
  margin : 0 20px;
  color : #fff;
  font-weight : bold;
  cursor : pointer;
  font-weight : bold;

}
.icon{
  width : 200px;
  margin-top: -40px;
  margin-right : 48px;
}
.active{
  color : #ea355c; /* Red watermelon color */
}

.basic{
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ea355c; /* Red watermelon color */

  font-weight: bold;
  font-size: 20px;
}