{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

  <h1>About Melondy</h1>
  <p>Here at Melondy, we use the power of artificial intelligence to help you discover new music based on your preferences. By combining the capabilities of OpenAI's GPT and Spotify's API, we provide you with personalized song recommendations and allow you to create playlists that align with your musical taste.</p>
  <!-- check out our github with GitMelon as the button to the Github -->


  

  {% endblock %}
