<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Melondy</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='icon.png') }}"
  />
  
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <div class="menu">
    <ul>
    <li><img src="{{ url_for('static', filename='Words.png') }}" class="icon" /></li>
    <li class = "active"><a href="{{ url_for('home') }}">Home</a></li>
    <li class = "active"><a href="{{ url_for('playlists') }}">Create Playlist</a></li>
    <li class = "active"><a href="{{ url_for('about') }}">About</a></li>
  </ul>
  </div>
  <div class="banner">
    <div class="banner-text">
    <h1>Your Spotify Playlists</h1>
    <h2>Click one that you want suggestions for</h2>
    </div>
  </div>
    {% if playlists %}
    <div class="basic">
    <ul>
      {%for playlist in playlists['items']%}
        <li>
          <div class="individual-playlist">
          
              <a href="{{url_for('suggestions')}}?playlist_uri={{playlist['uri']}}&playlist={{playlist['name']}}">{{playlist['name']}}</a>
   
          
          <a href="{{playlist['external_urls']['spotify']}}" target="_blank"> 
            <img src="{{url_for('static', filename='openspotify.png')}}"class=openspotify-image > 
          </a>
          </div>
          
        </li>
      {%endfor%}
    </ul>
    </div>
    {%endif%}

    {% if suggestions %}
    <div class="suggestions">
    <ul>
      {%for suggestion in suggestions%}
        <li>
          {{suggestion}}
          
        </li>
      {%endfor%}
    </ul>
    </div>
    {%endif%}
  </body>

</html>

























