{% extends 'base.html' %}

{% block title %}Playlists{% endblock %}

{% block content %}
  <div class="banner">
    <div class="banner-text">
    <h1>Your Spotify Playlists</h1>
    <h2>Click one that you want suggestions for</h2>
    </div>
  </div>
    {% if playlists %}
    <div class="basic">
    <ul>
      {%for playlist in playlists['items']%}
      <li>
      <div class="spotify-link">
        <a href="{{playlist['external_urls']['spotify']}}" target="_blank"> 
          <img src="{{url_for('static', filename='newSpotify.png')}}" class=openspotify-image > 
        </a>
      </div>
      <a href="{{url_for('suggestions')}}?playlist_uri={{playlist['uri']}}&playlist={{playlist['name']}}">
          <div class="individual-playlist">
            
            {{playlist['name']}}
          </div>
        </a>
        
      </li>
      {%endfor%}
    </ul>
    </div>
    {%endif%}

    {% if suggestions %}
    <div class="suggestions">
    <ul>
      {%for suggestion in suggestions%}
        <li>
          {{suggestion}} 
          
        </li>
      {%endfor%}
    </ul>
    </div>
    {%endif%}
{% endblock %}

























