{% extends 'base.html' %}

{% block title %}Suggestions{% endblock %}

{% block content %}


  {% if suggestions %}
  <div class="suggestions">
    <h2> Suggestions to add to {{playlist}}</h2>
    <form  action="{{url_for('suggestions')}}" method="post">
      <ul>
        {%for suggestion in suggestions%}

        <li>
          <!-- .squaredOne -->
          <div class="squaredOne">
            <input type="checkbox" name="selection" id="{{ suggestion['uri'] }}" value="{{ suggestion['uri'] }}" />
            <label for="{{ suggestion['uri'] }}"></label>
          </div>
          <!-- end .squaredOne -->
          {{ suggestion['track'] }} 
          
          {% if suggestion['artist'] %} - {{ suggestion['artist'] }}{%endif%}
            <a href="{{suggestion['url']}}" target="_blank">
            <img src="{{url_for('static', filename='newspotify.png')}}" class="openspotify-image">
          </a>
        </li>
        {%endfor%}
      </ul>
      <p id='add' style='display: none'>Songs added!</p> 
      <input type="submit" onclick="toggleText()" value="Add to playlist" />
      <input type="hidden" name="playlist_uri" value="{{playlist_uri}}" />
      <input type="hidden" name="playlist" value="{{playlist}}" />
    </form>
  </div>
  {%endif%}

{% endblock %}
