{% extends 'base.html' %}

{% block title %}Suggestions{% endblock %}

{% block content %}


  {% if suggestions %}
  <div class="suggestions">
    <h2> Suggestions to add to {{playlist}}</h2>
    <form  action="{{url_for('suggestions')}}" method="post">
      <ul>
        {%for suggestion in suggestions%}

        <li>
          <!-- .squaredOne -->
          <div class="squaredOne">
            <input type="checkbox" name="selection" id="{{ suggestion }}" value="{{ suggestion }}" />
            <label for="{{ suggestion }}"></label>
          </div>
          <!-- end .squaredOne -->
          {{ suggestion }}
            <a href="{{suggestion.spotify_link}}" target="_blank">
            <img src="{{url_for('static', filename='newspotify.png')}}" class="openspotify-image">
          </a>
        </li>
        {%endfor%}
      </ul>
      <input type="submit" value="Add to playlist" />
      <input type="hidden" name="playlist_uri" value="{{playlist_uri}}" />
      <input type="hidden" name="playlist" value="{{playlist}}" />
    </form>
  </div>
  {%endif%}

{% endblock %}
